.sidebar-meniu-button{
    aspect-ratio: 1/1;
    position: relative;
    
    & img{
        height: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -50%);
    }
}

.rounded{
    border-radius: 50%;
}

.active{
    background-color: #4f1a8b;
    color: red;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 5px;
        background-color: #77559d;
    }
}

.sidebar-meniu-button:last-child{
    margin-top: auto;
  }